---
import { changeLanguage, t } from "i18next";
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

changeLanguage("en");

const pageTitle = t("about.title");
---

<style></style>
<BaseLayout pageTitle={pageTitle}>
  <h2>Placeholder</h2>

  <p>Placeholder</p>
</BaseLayout>
