---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogCarousel from "../components/BlogCarousel.astro";

const pageTitle = "Home Page";

const allPosts = await getCollection("posts");
const recentPosts = allPosts.slice(0, 3).map(
  ({
    slug,
    data: {
      title,
      pubDate,
      description,
      image: { url },
    },
  }) => {
    const imageUrl = url;
    return { slug, title, imageUrl, pubDate, description };
  }
);
---

<BaseLayout pageTitle={pageTitle}>
  <div class="blog-nav-container">
    <BlogCarousel posts={recentPosts} />
    <a href="/blog">Explore</a>
  </div>
</BaseLayout>

<style>
  .blog-nav-container {
    text-align: center;
    background-color: #222;
    border-radius: 5px;
    overflow: hidden;
  }
</style>
