---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogCarousel from '../components/BlogCarousel.astro';

const pageTitle = "Home Page";

const allPosts = await getCollection("posts");
---

<style>
  .posts-grid{
    display: flex;
    flex-direction: row;
  }
  a{
      margin: 11px;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <BlogCarousel posts={allPosts} />
</BaseLayout>
