---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogCarousel from "../../components/BlogCarousel.astro";
import { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";
import { localizePath } from "astro-i18next";

changeLanguage("ru");

const postsCollection: "posts" | "postsRu" = t("site.posts-collection");
const pageTitle = t("home.title");
const allPosts = await getCollection(postsCollection);
const recentPosts = allPosts.slice(0, 3).map(({ slug, data: { title, pubDate, description, image: { url }, }, }) => {
    const imageUrl = url;
    return { slug, title, imageUrl, pubDate, description };
});
---

<BaseLayout pageTitle={pageTitle}>
  <div class="blog-nav-container">
    <BlogCarousel posts={recentPosts} postsCollection={postsCollection} />
    <a href={localizePath("/blog")} >
      <Trans i18nKey="home.explore">
        <p>Explore</p>
      </Trans>
    </a>
  </div>

  <style>
    .blog-nav-container {
      text-align: center;
      background-color: #c0c0c0;
      border-radius: 5px;
      overflow: hidden;
    }
    .blog-nav-container.dark{
      background-color: #333;
    }
  </style>
</BaseLayout>
