---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogCarousel from "../../components/BlogCarousel.astro";
import i18next, { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";

changeLanguage("ru");

const pageTitle = "home-page";
const allPosts = await getCollection("posts");
const recentPosts = allPosts.slice(0, 3).map(({ slug, data: { title, pubDate, description, image: { url }, }, }) => {
    const imageUrl = url;
    return { slug, title, imageUrl, pubDate, description };
});
---

<BaseLayout pageTitle={pageTitle}>
  <div class="blog-nav-container">
    <BlogCarousel posts={recentPosts} />
    <a href="/blog">
      <Trans i18nKey="explore">
        <p>Explore</p>
      </Trans>
    </a>
  </div>

  <style>
    .blog-nav-container {
      text-align: center;
      background-color: #222;
      border-radius: 5px;
      overflow: hidden;
    }
  </style>
</BaseLayout>
