---
import i18next  from "i18next";
const { url, title, img, description, pubDate } = Astro.props;
---

<li>
  <a href={url}>
    <p class="title">{title}</p>
    <div class="image-container">
      <img src={img} />
      <p>{description}</p>
      <p>
        {
          pubDate.toLocaleDateString(i18next.language, {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </p>
    </div>
  </a>
</li>

<style>
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    border: 5px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s ease-in-out;
    box-sizing: border-box;
  }

  li a img {
    
    border-radius: 0 0 5px 5px;
    padding: 0;
    margin: 0;
  }

  li a {
    color: #fff;
    text-decoration: none;
    border-color: transparent;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
  }

  li a p {
    font-size: 2vh;
    text-align: center;
    background-color: var(--accent-color);
    border-radius: 5px 5px 0 0;
    margin: 0;
  }

  li:hover {
    border-color: var(--accent-hover-color);
  }

  .image-container {
    display: inherit;
    flex-direction: inherit;


    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .image-container img {
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  .image-container p {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background: transparent;
    text-shadow: 2px 2px 2px #00000080;
  }

  .image-container:hover img {
    opacity: 0.5;
  }

  .image-container:hover p {
    opacity: 1;
  }

  .image-container p:first-of-type {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .image-container p:last-of-type {
    position: absolute;
    text-align: right;
    bottom: 1px;
    right: 1rem;
  }

</style>
